<% layout('/layouts/boilerplate') -%>
<body>
<!--Create new Listing -->
<form method="GET" action="/listings/new">
    <button>Create New Listing</button>
</form>
<!--Start Listing -->
<h3>All Listing</h3>
<ul>
    <% for(let listing of allListings) { %>
    <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <% } %>
</ul>

<!--End Listing -->
</body>
